 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 847px;
}

.u-section-1 .u-image-1 {
  height: 550px;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 498px;
  margin: -472px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -7px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  align-self: center;
  margin: 25px auto 0;
}

.u-section-1 .u-image-2 {
  height: 496px;
  margin-bottom: 0;
  margin-top: 71px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -473px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    height: 415px;
    margin-bottom: 51px;
    margin-top: 111px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    height: 322px;
    margin-bottom: 60px;
    margin-top: 159px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-2 {
    height: 194px;
    margin-top: 40px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 649px;
}

.u-section-2 .u-group-1 {
  width: 889px;
  min-height: 434px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0.5;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px 29px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 370px;
}

.u-section-2 .u-text-1 {
  font-family: "Playfair Display", serif;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  align-self: center;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 10px 28px 10px 27px;
}

.u-section-2 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("images/logo512.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -392px auto 50px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-2 .u-group-1 {
    width: 763px;
    margin-right: 0;
    animation-duration: 1750ms;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 340px;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
  }

  .u-section-2 .u-image-1 {
    width: 484px;
    height: 484px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-2 .u-group-1 {
    width: 638px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 40px 40px 130px 130px;
  }

  .u-section-2 .u-image-1 {
    width: 405px;
    height: 405px;
    margin-top: -97px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-2 .u-group-1 {
    width: 466px;
    min-height: 529px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px 30px 100px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    width: 324px;
    height: 324px;
    margin-top: -66px;
    margin-left: auto;
    margin-bottom: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-2 .u-group-1 {
    width: 309px;
  }

  .u-section-2 .u-image-1 {
    height: 178px;
    width: 178px;
    margin-top: -96px;
    margin-right: 66px;
    margin-bottom: 12px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 789px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  line-height: 0.8;
  margin: 38px auto 0;
}

.u-section-3 .u-image-1 {
  width: 465px;
  height: 465px;
  margin: 42px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #db545a);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 0px;
  margin: 42px auto 60px;
  padding: 1px 103px 1px 102px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -26px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -155px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 944px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 844px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 844px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-list-1 {
  margin-bottom: 0;
  margin-top: 113px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 201px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  width: 378px;
  height: 212px;
  margin: 47px auto 0;
}

.u-section-4 .u-text-8 {
  font-size: 0.875rem;
  width: 378px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-9 {
  font-size: 0.875rem;
  width: 378px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 696px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 696px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 242px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 216px;
  }

  .u-section-4 .u-image-1 {
    height: 213px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 298px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 169px;
  }

  .u-section-4 .u-text-8 {
    width: 300px;
  }

  .u-section-4 .u-text-9 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 186px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-list-1 {
    margin-top: 2px;
  }

  .u-section-4 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 3rem;
  }
}